body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}


.day {
    background-image: url(./image/day_mountain.jpg);
}


.night {
    background-image: url(./image/night_mountain.jpg);
}


body::-webkit-scrollbar {
    display: none;
}


li {
    list-style-type: none;
}


.leave {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    padding-top: 20px;

}


.leave-btn {
    padding: 8px;
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 10px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
}

.leave-btn:hover {
    box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 2px #00d7c3;
    border: 2px solid #00d7c3;
}




.container {
    margin-top: -10px;

}

/* chat area */
.chat-container {
    overflow-y: scroll;
    height: 70vh;
    padding: 10px;

}

.chat-container::-webkit-scrollbar {
    width: 6px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#317e98, #2682a1);
    border-radius: 6px;

}

.chat-icon {
    width: 45px;
    height: 100%;
}

.message-container-self {
    color: aliceblue;
    margin-right: 15px;
    border-radius: 25px 5px 25px 25px;
    background: linear-gradient(#32bc85db, #2babb2db);
    max-width: 350px;
    padding: 0 15px 20px 15px;
    box-shadow: 2px 2px 3px rgba(83, 80, 80, 0.686);
}

.time-self {
    color: rgb(255, 252, 252);
    text-shadow: 0 0 10px #3ca579,
        0 0 20px #1f7351,
        0 0 150px rgb(16, 58, 58);
    font-size: 12px;
    padding-left: 10px;

}

.message-container-other {
    color: aliceblue;
    margin-left: 15px;
    border-radius: 5px 25px 25px 25px;
    background: linear-gradient(#d783abc8, #9d61fdc3);
    max-width: 350px;
    padding-right: 12px;
    box-shadow: 2px 2px 3px rgba(83, 80, 80, 0.686);
}

.time-other {
    margin-top: -10px;
    color: rgb(229, 223, 223);
    text-shadow: 0 0 10px rgb(166, 52, 222),
        0 0 20px rgb(166, 57, 178),
        0 0 150px rgb(16, 58, 58);
    font-size: 12px;
}

/* profile */
.profile-container {
    align-items: center;
    max-height: 600px;
    overflow-y: scroll;
    position: relative;
    overflow: visible;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: linear-gradient(#f6f8f9aa, #8c8890);
    position: absolute;
    top: 0;
    left: 50%;
    margin: 10px auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}



.profile-icon {
    border-radius: 50rem;
    width: 140px;
    height: 140px;

}

.card {
    background: rgba(110, 120, 147, 0.425);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-clip: padding-box;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    justify-content: space-around;
    padding: 35px 5%;
    color: white;

}

.placement {
    position: absolute;
    right: 8px;
    top: 22px;
}

.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}



.profile-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(232, 170, 63);
    text-shadow: 0 0 10px #5b5656,
        0 0 20px #5a5757,
        0 0 150px rgb(108, 105, 105);

}


.profile-occupation {
    text-align: center;
    color: #c3bdbd;
}

.profile-title {
    color: rgb(57, 194, 178);
    text-shadow: 0 0 10px #726e6e,
        0 0 20px #5a5757,
        0 0 150px rgb(108, 105, 105);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;


}

.profile-info>span {
    color: #dedcdc;
    font-size: 1rem;
    font-weight: 400;
}

.about-me {
    font-weight: 400;
}


.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-wrapper {
    width: 40px;
    height: 40px;
    margin: 30px 10px -10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.instagram {
    background: linear-gradient(45deg, #45F, #F11);
    box-shadow: 0 4px 30px #B449;
}

.facebook {
    background: linear-gradient(45deg, #359, #07D);
    box-shadow: 0 4px 30px rgba(44, 120, 195, 0.533);
}

.twitter {
    background: linear-gradient(45deg, #1AF, #07C);
    box-shadow: 0 4px 30px #17D8;
}


.social-icon-wrapper>.fa {
    font-size: 1.5rem;
}


.profile-container::-webkit-scrollbar {
    display: none;
}

i:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/* typing Area */
.type-wrapper {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(250, 250, 250, 0.322);
    border: 1px solid rgba(255, 255, 255, 0.138);
    border-radius: 1rem;
    justify-content: space-between;
    padding: 0 10px;


}

#textArea3 {
    height: 100%;
    width: 50%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 1.1rem;
    color: aliceblue;

}

.button-group {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button-group>button {
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;

}

.file {
    color: white;
    text-shadow: 0 0 10px rgb(100, 21, 161),
        0 0 20px rgb(100, 21, 161)
}

.emoji {
    color: white;
    margin: 0 5px;
    text-shadow: 0 0 10px rgb(148, 135, 17),
        0 0 20px rgb(197, 206, 28)
}

.send {
    color: white;
    text-shadow: 0 0 10px rgb(32, 120, 183),
        0 0 20px rgb(42, 123, 181)
}