body {
    width: 100vw;
    height: 100vh;
    background-image: url(./image/night.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    ;

}

body::-webkit-scrollbar {
    display: none;
}


li {
    list-style-type: none;
}


.leave {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    padding-top: 20px;

}


.leave-btn {
    padding: 8px;
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 10px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
}

.leave-btn:hover {
    box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 2px #00d7c3;
    border: 2px solid #00d7c3;
}




.container {
    margin-top: -10px;
    display: flex;
    justify-content: center
}

/* chat area */
.chat-container {
    overflow-y: scroll;
    height: 70vh;
    padding: 10px;

}

.chat-container::-webkit-scrollbar {
    width: 6px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#5496FF, #8739E5);
    border-radius: 6px;

}

.chat-icon {
    width: 45px;
    height: 100%;
}

.message-container-self {
    color: aliceblue;
    margin-right: 15px;
    border-radius: 25px 5px 25px 25px;
    background: linear-gradient(#32bc85db, #2babb2db);
    max-width: 350px;
    padding-left: 12px;
    box-shadow: 2px 2px 3px rgba(83, 80, 80, 0.686);
}

.time-self {
    color: rgb(255, 252, 252);
    text-shadow: 0 0 10px #3ca579,
        0 0 20px #1f7351,
        0 0 150px rgb(16, 58, 58);
    font-size: 12px;
    padding-left: 10px;

}

.message-container-other {
    color: aliceblue;
    margin-left: 15px;
    border-radius: 5px 25px 25px 25px;
    background: linear-gradient(#d783abc8, #9d61fdc3);
    max-width: 350px;
    padding-right: 12px;
    box-shadow: 2px 2px 3px rgba(83, 80, 80, 0.686);
}

.time-other {
    margin-top: -10px;
    color: rgb(229, 223, 223);
    text-shadow: 0 0 10px rgb(166, 52, 222),
        0 0 20px rgb(166, 57, 178),
        0 0 150px rgb(16, 58, 58);
    font-size: 12px;
}

/* profile */
.profile-container {
    align-items: center;
    height: auto;
    overflow-y: scroll;
    position: relative;
    z-index: -1;
    overflow: visible;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: linear-gradient(#38B8F2, #843CF7);
    position: absolute;
    top: 0;
    left: 50%;
    margin: 10px auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}



.profile-icon {
    border-radius: 50rem;
    width: 140px;
    height: 140px;

}

.card {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-clip: padding-box;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    justify-content: space-around;
    padding: 35px 5%;
    color: white;

}

.profile-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(206, 163, 234);
}

.profile-title {
    color: rgb(246, 246, 246);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;


}

.profile-title>span {
    color: #aca3a3;
    padding-left: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.about-me {
    font-weight: 400;
}


.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-wrapper {
    width: 45px;
    height: 45px;
    margin: 20px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.instagram {
    background: linear-gradient(45deg, #45F, #F11);
    box-shadow: 0 4px 30px #B449;
}

.facebook {
    background: linear-gradient(45deg, #359, #07D);
    box-shadow: 0 4px 30px rgba(44, 120, 195, 0.533);
}

.twitter {
    background: linear-gradient(45deg, #1AF, #07C);
    box-shadow: 0 4px 30px #17D8;
}


.social-icon-wrapper>.fa {
    font-size: 1.5rem;
}


.profile-container::-webkit-scrollbar {
    display: none;
}

i:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/* typing Area */
.form-outline {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(250, 250, 250, 0.322);
    border: 1px solid rgba(255, 255, 255, 0.138);
    border-radius: 1rem;
    justify-content: space-between;
    padding: 0 10px;


}

#textArea3 {
    height: 95%;
    width: 65%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 1.1rem;
    color: aliceblue;

}

.button-group {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button-group>button {
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;

}

.file {
    color: white;
    text-shadow: 0 0 10px #e70aee,
        0 0 20px #e70aee,
        0 0 40px #e70aee,
        0 0 800px #e70aee;
}

.emoji {
    color: white;
    margin: 0 5px;
    text-shadow: 0 0 10px yellow,
        0 0 20px yellow,
        0 0 40px yellow,
        0 0 800px yellow;
}

.send {
    color: white;
    text-shadow: 0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 800px cyan;
}