@import url('https://fonts.googleapis.com/css2?family=Combo&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

.background-wrapper {
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
    background-image: url("../asset/color.jpg");
    background-repeat: repeat;
    background-size: cover;
    /* margin: 10%; */
    /* padding: -50%; */
}

.notification-message-list {
    display: flex;
    padding-top: 7px;
}



.notification-message-list p:last-child {
    flex: 1;
    text-align: center;
}

.body {
    background-color: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}

a {
    color: #7f8db0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    background: #fff;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar .navbar_left .logo a {
    font-family: 'Trade Winds';
    font-size: 20px;
}

.navbar .navbar_right {
    display: flex;
}

.navbar .navbar_right img {
    width: 35px;
    border-radius: 50%;
}

.navbar .navbar_right .icon_wrap {
    cursor: pointer;
}

.navbar .navbar_right .notifications {
    margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
    font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
    position: relative;
}

.navbar .profile .profile_dd,
.notification_dd {
    position: absolute;
    top: 48px;
    right: -15px;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    width: 350px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
        -10px -10px 35px rgba(0, 0, 0, 0.125);
    z-index: 10;
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

/* .notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
} */

.notification_dd li .notify_icon {
    display: flex;
}


.navbar .navbar_right .profile .icon_wrap {
    display: flex;
    align-items: center;
}

.navbar .navbar_right .profile .name {
    display: inline-block;
    margin: 0 10px;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
    color: #3b80f9;
}

.navbar .profile .profile_dd {
    width: 225px;
}

.navbar .profile .profile_dd:before {
    right: 10px;
}

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
    display: block;
    padding: 15px 35px;
    position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
    display: inline-block;
    width: 30px;
}

.navbar .profile .profile_dd ul li a:hover {
    color: #3b80f9;
    background: #f0f5ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn {
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background: #3b80f9;
    width: 125px;
    margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
    background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
    display: block;
}

.section-50 {
    padding: 50px 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: white;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
    width: 100%;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img {
    flex: 1;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}